<% if query_has_constraints? %>
      <div class="constraints">
        <span class="constraints-label"><%= t('blacklight.search.filters.title') %></span>
        <%= render_constraints(params) %>
		<span><%=link_to t('blacklight.search.start_over'), start_over_path, :class => "catalog_startOverLink reset_filter", :id=>"startOverLink" %></span>
      </div>
<% end %>
