<%# Fields to be summed up and shown in view %>
<% field_hash = { nrWikipediaImages: 0, nrInstagramImages: 0, nrFlickrImages: 0, nrSnapchatImages: 0, nrPinterestImages: 0} %>

<% 
  @response.documents.each do |object|
    field_hash.each do |key, value|
        doc_presenter = index_presenter(object)
        field_hash[key] +=  (doc_presenter.field_value key).to_i
    end
  end
%>

<% field_hash.each do |key, value| %>
	<% key_mod = key.to_s.remove("nr").remove("Images") %>
	<div class="col-sm-12 col-md-12">
		<span class="<%=key_mod.downcase%>_small"><%= key_mod %>: <%= field_hash[key] %></span>
	</div>  
<% end %>



