<!--<div id="content" class="<%= show_content_classes %>">-->
<div id="content" class="col-md-9 col-sm-8">
  <%= render_document_main_content_partial %>
</div>

<div id="sidebar" class="<%= show_sidebar_classes %>">
   <%= render_document_sidebar_partial %>
</div>
